.table-sortable tbody tr {
    cursor: move;
}

.table-sortable tbody tr {
    cursor: move;
}

.spinner {
  margin: 20px auto 0;
  width: 200px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #006299;
  border-radius: 100%;
  display: inline-block;
 
  animation-name: sk-bouncedelay;
  animation-direction: normal;
  animation-duration: 1.8s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
  opacity: 0.872;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}


